Django==1.9.8
PyJWT==1.4.2
boto==2.42.0
cffi==1.5.2
cryptography==1.2.3
defusedxml==0.4.1
dj-database-url==0.4.0
django-allauth==0.24.1
django-fernet-fields==0.4
django-localflavor==1.3
django-model-utils==2.5.2
django-nested-admin==3.0.10
django-rest-auth==0.7.0
django-solo==1.1.2
django-storages==1.5.1
djangorestframework==3.3.2
gunicorn==19.4.5
idna==2.1
ipdb==0.10.1
oauthlib==1.1.2
plaid-python==2.2.0
psycopg2==2.7.1
pyasn1==0.1.9
pycparser==2.14
python-social-auth==0.2.14
python3-openid==3.0.10
requests==2.9.1
requests-oauthlib==0.6.2
sendgrid-django==2.0.0
six==1.10.0
whitenoise==2.0.6
